.header{
background-color:white;
display:flex;
flex-direction:row;
justify-content:space-between;
position:fixed;
top:0px;
left:0px;
right:0px;
height:72px;
border-bottom-width:0.5px;
border-bottom-style:solid;
border-bottom-color:rgb(228,228,288);
z-index:1;
}

.left-section{
width:120px;
margin-right:80px;
display:flex;
align-items:center;
}

.hamburger-menu{
height:28px;
margin-left:25px;
margin-right:25px;

}
.youtube-logo{
height:24px;
}

.middle-section{
flex:1;
max-width:700px;
display:flex;
align-items:center;
}

.search-bar{
flex:1;
height:36px;
font-size:16px;
padding-left:13px;
max-width:550px;
border-style:solid;
border-width:0.5px;
border-color:rgb(196,196,196);
box-shadow:1px 2px 2px rgb(0,0,0,0.1);
width:0;
}

.search-button{
height:40px;
width:65px;
margin-left:-2px;
border-style:solid;
border-width:0.5px;
border-color:rgb(196,196,196);
margin-right:15px;
box-shadow:1px 2px 2px rgb(0,0,0,0.1);


}
.search-button,.voice-search-button,.upload-section,.youtube-apps-section,.notification-section,.yt-profile-section{
display:flex;
justify-content:center;
align-items:center;
position:relative;

font-size:15px;
}

.toolkit{
position:absolute;
background-color:gray;
border-style:none;
border-radius:2px;
color:white;
bottom:-54px;
padding-left:10px;
padding-right:10px;
padding-top:6px;
padding-bottom:6px;
opacity:0;
pointer-events:none;
white-space:nowrap;
}
.search-button:hover .toolkit,.voice-search-button:hover .toolkit,.upload-section:hover .toolkit,.youtube-apps-section:hover .toolkit,.notification-section:hover .toolkit,.yt-profile-section:hover .toolkit{
opacity:1;
transition:opacity 0.2s;
}
.voice-search-button{
height:40px;
width:40px;
background-color:rgb(245,245,245);
border-width:0.5px;
border-radius:20px;
border-color:rgb(196,196,196);
border-style:none;

}

.search-bar::placeholder{
font-family:Roboto,Arial;
margin-top:5px;
}

.search-logo{
height:22px;
}
.voice-search-logo{
height:20px;
}

.right-section{
width:230px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
margin-right:35px;
flex-shrink:0; //it is used to set the gap between the elements in right section without shrink.
}

.notification-counter{
position:absolute;
background-color:rgb(200,0,0);
top:-2px;
right:-2px;

color:white;
border-radius:11px;
font-size:12px;
padding-left:6px;
padding-right:6px;
padding-top:2px;
padding-bottom:2px;
}

.upload-icon{
height:30px;
}
.youtube-apps-icon{
height:30px;
}

.notifications-icon{
height:30px;
}

.yt-profile-icon{
height:30px;
border-radius:15px;
}

