.sidebar{
display:flex;
flex-direction:column;
position:fixed;
left:0px;
top:72px;
width:95px;
bottom:0px;
z-index:2;
background-color:white;
padding-top:5px;
}

.sidebar-link{
height:109px;
width:95px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
cursor:pointer;

}
.sidebar-link div{
font-size:11px;
font-family:Roboto,Arial;
}

.sidebar-link:hover{
background-color:rgb(235,235,235);

}
.sidebar-icons{
width:30px;
margin-bottom:5px;
}